/* Estilo para el contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    margin-top: 20px; /* Espacio entre el navbar y las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

/* Estilo para las tarjetas */
.card {
    flex: 0 1 calc(33.333% - 20px); /* Ajusta el ancho de las tarjetas */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .card {
        flex: 0 1 calc(50% - 20px); /* Ajusta el ancho de las tarjetas en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 1 calc(100% - 20px); /* Ajusta el ancho de las tarjetas en pantallas muy pequeñas */
    }
}
